### The content of this notebook is for web scraping the historical world population data, as well as population by various demographic indicators, the data is from www.johnstonsarchive.net

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [2]:
url = 'http://www.johnstonsarchive.net/other/worldpop.html'
req = requests.get(url)
soup = BeautifulSoup(req.content, 'html.parser')
soup = soup.find_all('tr')

In [5]:
len(soup)

433

In [7]:
list1 = []
for i in soup:
    list2 = []
    for j in i.find_all('td'):
        textnow = j.text
        list2.append(textnow)
    list1.append(list2)

In [12]:
# check the index of the year from 1950 to now for basic population
print(list1.index(['1950','2,525.779','228.827','1,395.749','549.043','167.869','171.615','12.675']))
print(list1.index(['2015','7,324.782','1,166.239','4,384.844','743.123','630.089','361.128','39.359']))

45
110

In [14]:
df_pop = pd.DataFrame(list1[45:111],columns=['year','world','Africa','Asia','Europe','LatinAmerica',
                                             'NorthAmerica','Austr/Oceania'])
df_pop.head()

,year,world,Africa,Asia,Europe,LatinAmerica,NorthAmerica,Austr/Oceania
0,1950,"2,525.779",228.827,"1,395.749",549.043,167.869,171.615,12.675
1,1951,"2,572.851",233.364,"1,425.762",554.239,172.397,174.093,12.996
2,1952,"2,619.292",238.148,"1,454.049",559.756,177.134,176.911,13.294
3,1953,"2,665.865",243.18,"1,481.619",565.441,182.042,180.001,13.582
4,1954,"2,713.172",248.46,"1,509.265",571.184,187.092,183.299,13.871

In [16]:
# check the index of the year from 1950 to now for urban and rural
print(list1.index(['1950','743.596','1,782.183','812.943','1,712.836','854.187','11.297','\xa0','\xa0','\xa0','\xa0']))
print(list1.index(['2014','\xa0','\xa0','\xa0','\xa0','\xa0','\xa0','2,375.619','1,219.952','441.444','1,660.729']))

368
432

In [20]:
df_ur = pd.DataFrame(list1[368:],columns=['year','urban','rural','developed','developing','communist','Jewish',
                                          'Christian','Catholic','Protestant','Muslim'])
df_ur.head()

,year,urban,rural,developed,developing,communist,Jewish,Christian,Catholic,Protestant,Muslim
0,1950,743.596,"1,782.183",812.943,"1,712.836",854.187,11.297,,,,
1,1951,767.146,"1,805.705",822.492,"1,750.359",873.141,,,,,
2,1952,790.999,"1,828.293",832.462,"1,786.831",889.872,,,,,
3,1953,815.799,"1,850.066",842.683,"1,823.183",905.136,,,,,
4,1954,841.618,"1,871.554",853.025,"1,860.147",919.799,,,,,

In [21]:
# save the data to .csv file for project use
df_pop.to_csv('pop.csv')
df_ur.to_csv('ur.csv')